<!-- <ul class="list-group">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
  </ul> -->
  <table class="table">
    <thead>
        <tr>
            <th>BrandId</th>
            <th>BrandName</th>
            
        </tr>
    </thead>
</table>



<table class="table">
  <tr *ngFor="let brand of brands">
    <td>{{ brand.brandId }}</td>
    <td>{{ brand.brandName }}</td>
    
  </tr>
</table>
